<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <title>Amigos Motors - Register</title>
  </head>
  <body>
    <div class="login">
      <form
        action="{{ url_for('register') }}"
        method="POST"
        class="login__form"
      >
        <h1 class="login__title">Register</h1>

        {% for message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ message[0] }}">
          {{ message[1] }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
        <br />
        <div class="login__content">
          <div class="login__box">
            <i class="ri-user-3-line login__icon"></i>
            <div class="login__box-input">
              <input
                type="text"
                required
                class="login__input"
                id="register-username"
                name="username"
                placeholder=" "
              />
              <label for="register-username" class="login__label">Name</label>
            </div>
          </div>

          <div class="login__box">
            <i class="ri-mail-line login__icon"></i>
            <div class="login__box-input">
              <input
                type="email"
                required
                class="login__input"
                id="register-email"
                name="email"
                placeholder=" "
              />
              <label for="register-email" class="login__label">Email</label>
            </div>
          </div>

          <div class="login__box">
            <i class="ri-lock-2-line login__icon"></i>
            <div class="login__box-input">
              <input
                type="password"
                required
                class="login__input"
                id="register-pass"
                name="password"
                placeholder=" "
              />
              <label for="register-pass" class="login__label">Password</label>
              <i class="ri-eye-off-line login__eye" id="register-eye"></i>
            </div>
          </div>

          <div class="login__box">
            <i class="ri-phone-line login__icon"></i>
            <div class="login__box-input">
              <input
                type="text"
                required
                class="login__input"
                id="register-phone"
                name="phone"
                placeholder=" "
              />
              <label for="register-phone" class="login__label">Phone</label>
            </div>
          </div>

          <div class="login__box">
            <i class="ri-map-pin-line login__icon"></i>
            <div class="login__box-input">
              <input
                type="text"
                required
                class="login__input"
                id="register-address"
                name="address"
                placeholder=" "
              />
              <label for="register-address" class="login__label">Address</label>
            </div>
          </div>
        </div>

        <button type="submit" class="login__button">Register</button>

        <p class="login__register">
          Already have an account? <a href="{{ url_for('login') }}">Login</a>
        </p>
        <br />
        <p class="login__register">
          <a href="{{ url_for('index') }}">Return To The Home Page</a>
        </p>
      </form>
    </div>

    <script>
      document
        .getElementById("register-eye")
        .addEventListener("click", function (e) {
          const passwordInput = document.getElementById("register-pass");
          if (passwordInput.type === "password") {
            passwordInput.type = "text";
            this.classList.remove("ri-eye-off-line");
            this.classList.add("ri-eye-line");
          } else {
            passwordInput.type = "password";
            this.classList.remove("ri-eye-line");
            this.classList.add("ri-eye-off-line");
          }
        });
    </script>
  </body>
</html>
